*{
    margin: 0px;
    padding: 0px;
}
/* //landing_page// */
.para{
    align-items: start;
    font-size: medium;
    font-size:30px ;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.img_land{
    width: 200px;
    height: auto;
    position: absolute;
    left: 750px;
    top:80px;   
}
.main_land{

}